@import '../../assets/scss/variables';

:host
    .contact-us{
        padding-bottom: 20px;
        h2{
            font-weight: lighter;
            font-size: 22px;
        }
        form{
            margin-bottom: 15px;
            .fileUploader{
                background: $sec-color;
                color: $base-light-color;
                padding: .5em;
                cursor: pointer;
                input{
                    display: none;
                    cursor: pointer;
                }
            }
            label{
                font-weight: normal;
            }
            input[type="number"], input[type="text"], textarea{
                border-radius: 0;
                border: 2px solid darken($base-medium-color, 10%);
                margin-bottom: 15px;
                box-shadow: inherit;
            }
            textarea{
                min-height: 108px;
                resize: none;
            }
            .picture{
                margin-bottom: 15px;
                text-align: center;
                img{
                    border-radius: 50%;
                    margin-bottom: 15px;
                    width: 180px;
                    height: 180px;
                }
            }
            h3{
                color: $sec-color;
                font-size: 14px;
                text-transform: uppercase;
            }
        }
    }